.category-grid, .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
  gap: 10px;
}

.home-main {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
}
